body {
    background-color: #FFD700;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #CD5C5C;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

button {
    background-color: #CD5C5C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #8B0000;
}

footer {
    background-color: #CD5C5C;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
